// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors

$top-main-color	:	#2750A8;
$main-color 	: 	#0D6BE7;
$bg-color		: 	#0D9BE7;
$color 			: 	#0EC6FF;

$bg-gray		: 	#eeeeee;




$white-color	:	#ffffff;
$main-color-txt	:	#595959;




$all			: 	#2c3e4f;
$basic			:	#f23ba0;
$wordpress 		:	#3498db;
$design			:	#00d691;
$development	:	#f0c30e;